@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import 'tailwindcss';

*{
    font-family: "Outfit", sans-serif;
}

@theme {
    --color-primary: #004593;
    --color-primary-dull: #123a66;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}
